#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

// レイヤーの定義
#define DEFAULT 0
#define LAYER1  1

/ {
    keymap {
        // キーマップの定義
        // 参考 https://zmk.dev/docs/keymaps
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mkp RCLK    &mkp LCLK
                &mkp LAYER1    &mo LAYER1
            >;
        };

        layer_1 {
            bindings = <
                &mkp MB4     &mkp MCLK
                &trans       &trans
            >;
        };
    };
};

// トラックボールの設定
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    trackball_listener {
        // Input Processor を使用して、トラックボールの入力を処理できます。
        // 参考 https://zmk.dev/docs/keymaps/input-processors
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)>, // Y軸反転
            <&zip_x_scaler 7 10>, // X軸の移動量を0.7倍に調整
            <&zip_y_scaler 7 10>; // Y軸の移動量を0.7倍に調整

        scroller {
            layers = <1>;
            input-processors =
                <&zip_xy_to_scroll_mapper>,
                <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>, // Y軸反転
                <&zip_scroll_scaler 1 40>; // スクロール速度を1/40に調整
            process-next;
        };
    };
};
