#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

// レイヤーの定義
#define DEFAULT 0
#define LAYER1  1

/ {
    keymap {
        // キーマップの定義
        // 参考 https://zmk.dev/docs/keymaps
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mkp RCLK    &mkp LCLK
                &mo LAYER1   &mkp MCLK
            >;
        };

        layer_1 {
            bindings = <
                &mkp MB4     &mkp MB5
                &trans       &trans
            >;
        };
    };
};

// トラックボールの設定
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/ {
    trackball_listener {
        // Input Processor を使用して、トラックボールの入力を処理できます。
        // 参考 https://zmk.dev/docs/keymaps/input-processors
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors =
            <&zip_x_scaler 3 2>, // X軸（横方向）の移動量を1.5倍に調整（左右の移動量を増加）
            <&zip_xy_transform INPUT_TRANSFORM_X_INVERT>; // X軸反転

        scroller {
            layers = <1>;
            input-processors =
                <&zip_xy_to_scroll_mapper>,
                <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>, // Y軸反転
                <&zip_scroll_scaler 1 40>; // スクロール速度を1/40に調整
            process-next;
        };
    };
};